<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .one{
            height: 200px;
            width: 1200px;
            margin-left:100px;
            margin-top: 200px;
            background-color: rgb(226, 174, 157);
            border-radius: 70px;
            border: 3px solid black;
        }

    </style>
</head>
<body>

    <div class="one " >
        <div class="fst-italic" align="center">
        <h2>About as</h2>
    <p>Student.com is the world’s leading marketplace for international student housing, helping students find their perfect home abroad. Since it was founded in 2011, our international team has already helped thousands of students find their home.

        We have the widest and most carefully selected range of rooms that were built and are managed specifically for students. This gives you the power to explore and compare a variety of rooms across different neighbourhoods so that you can make the right choice. Choosing the right home provides a safe and inspiring foundation. It helps you to grow and make the most of your journey</p></div>
    </div>
</body>
</html>