<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="one" style="background-color:rgb(133, 196, 39) ; height:140px; width:700px; margin-left: 300px; border-radius: 70px;">
    <form>
      
        <div class="mb-3"align="center" style="margin-top: 170px;"><br>
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">.</div>
        </div><br>
        <div class="mb-3"align="center">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div><br>
        <div class="hh" align="center">
        <button type="submit" class="btn btn-primary">Submit</button></div>
      </form></div>
</body>
</html>